*{margin: 0; padding: 0;}

.main{
    background-color: silver;
}
.registration_form{    
    width: 60%;
    margin-left: 240px;
    padding: 70px;
}
.container{
    padding: 16px;
}
.container h2{   
     font-size: 50px;
    margin-left: -20px;}
.container p{   
     font-style: italic;
     margin-left: 90px;
    }

input[type="text"], input[type="password"]{
    width: 100%;
   margin: 5px 0 22px 0; 
   padding: 15px;
   display: inline-block;
   border-bottom:rgb(2, 69, 71) 5px;
   background: rgb(155, 180, 202);
}
input[type="text"]:focus, input[type="password"]:focus{
    background: white;
}
.log_in{
    background-color: rgb(32, 34, 165);
     color: whitesmoke;
     padding: 2%;
     margin-left: 0px;
     width: 45%;
}
.button{
    background-color: rgb(30, 255, 0); 
    color: whitesmoke;
    width: 45%;
    margin-top: -52px;
    margin-left: 445px;
        padding: 2%
    }